@"
# MOVIEMIX-SCAFFOLD env v0

# --- Postgres (match docker-compose) ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=I4mGr00t
POSTGRES_DB=moviemix

# The backend uses this to connect to db
DATABASE_URL=postgres://admin:I4mGr00t@db:5432/moviemix

# --- Backend JWT ---
JWT_SECRET=super_secret_key_change_me

# --- External APIs ---
TMDB_API_KEY=__PUT_YOUR_TMDB_KEY__
OMDB_API_KEY= "a7ad5e92"
TRAKT_CLIENT_ID=17cc1ae6fc24b018aba032e280c0************************************
TRAKT_CLIENT_SECRET=69938c240f54b2a7cbf9b840************************************944d
TRAKT_REDIRECT_URI=http://localhost:8000/integrations/trakt/cb

# --- Airflow ---
AIRFLOW__CORE__FERNET_KEY=IzMtrrYaPikD_heoEady6LATterlAmjZlPTi7xNUmzo=
"@ | Set-Content -Encoding UTF8 .\.env.example
