venv/
__pycache__/
*.pyc
node_modules/
.DS_Store
.vscode/
.env
*.env
.env.local
.env.development
.env.production
*AUTH_TOKEN*
# frontend
frontend/.next/

# outputs / logs
Outputs/
logs.txt

# db dumps
*.sql
Start.txt
